@charset "UTF-8";

/* CSS */
* {
    font-family: "Montserrat", sans-serif;
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#logo-pkplace {
    width: 400px;
}

div.caixa-entrada {
    display: block;
    margin: 0px 20px 20px 20px;
}

label {
    display: block;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 500;
}

input {
    font-size: 1.1em;
    width: 95%;
    height: 35px;
    outline: none;
    border-radius: 6px;
    border: 2px solid rgba(128, 128, 128, 0.623);
    padding: 5px 5px 2px 5px;
}

button[type="submit"]#entrar {
    width: 90%;
    margin: 15px 20px 20px 20px;
    border-radius: 6px;
    background: white;
    outline: none;
    border: 2px solid #F02A29;
    font-size: 1em;
    padding: 15px;
    font-weight: 600;
    color: #F02A29;
}


p {
    text-align: center;
}

p > a {
    font-weight: 500;
    color: black;
}

#cadastrar {
    display: block;
    width: 85%;
    margin: auto;
    background: #F02A29;
    padding: 18px;
    border-radius: 6px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}


/* CSS pseudo-classes */
input:hover {
    border: 2px solid #F02A29;
    transition: .5s;
}

button:hover#entrar {
    background: #F02A29;
    transition: .2s;
    color: white;
    cursor: pointer;
}



p > a:hover {
    color: #F02A29;
    text-decoration: none;
}

#cadastrar:active {
    background: #a31c1c;
    transition: .1s;
}

