@charset "UTF-8";

/* CSS */
body {
    font-family: "Montserrat", sans-serif;
}

div.container-logo {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    margin: 20px 0px 20px 0px;
}

div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.container > p {
    text-align: center;
    font-weight: 500;
    margin: 30px;
    font-size: 1.2em;
}


a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #F02A29;
    margin-top: 20px;
    width: 300px;
    padding: 15px;
    border-radius: 6px;
    font-weight: 500;
}

a:nth-child(4) {
    background: white;
    color: #F02A29;
    border: 2px solid #F02A29;
}

/* CSS pseudo-classes */

a:hover {
    background: #a31c1c;
    transition: .1s;
}

a:nth-child(4):hover {
    background: #F02A29;
    color: white;
    transition: .2s;
    cursor: pointer;
}

